@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
body {
  margin: 0;
  padding: 0.5rem;
  background-color: #000; }

body, input {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: #ccc; }

.loading {
  font-size: 0;
  white-space: nowrap; }
  .loading div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0; }
  .loading .text {
    margin-left: 0.5em; }
  .loading .kurukuru {
    overflow: hidden;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; }
    .loading .kurukuru.f1 {
      animation-name: kurukuru_f1; }
    .loading .kurukuru.f2 {
      animation-name: kurukuru_f2; }
    .loading .kurukuru.f3 {
      animation-name: kurukuru_f3; }
    .loading .kurukuru.f4 {
      animation-name: kurukuru_f4; }

@keyframes kurukuru_f1 {
  0%, 24.9% {
    width: auto; }
  25%, 100% {
    width: 0; } }

@keyframes kurukuru_f2 {
  0%, 24.9% {
    width: 0; }
  25%, 49.9% {
    width: auto; }
  50%, 100% {
    width: 0; } }

@keyframes kurukuru_f3 {
  0%, 49.9% {
    width: 0; }
  50%, 74.9% {
    width: auto; }
  75%, 100% {
    width: 0; } }

@keyframes kurukuru_f4 {
  0%, 74.9% {
    width: 0; }
  75%, 100% {
    width: auto; } }

.command-line-input {
  display: flex; }
  .command-line-input .prompt-user-name {
    color: #16c60c; }
  .command-line-input .input {
    flex-grow: 1;
    padding: 0 0.5rem; }
    .command-line-input .input input {
      margin: 0;
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none; }

.console-component .console-line {
  word-break: break-all; }
  .console-component .console-line .console-fragment {
    display: inline-block; }
