@inject IConsoleHost ConsoleHost
@inject ICommandSet CommandSet
@inject CommandCompletion CommandCompletion
@inject IJSRuntime JS

<div class="console-output">
    <ConsoleComponent></ConsoleComponent>
</div>

<div class="command-line-input">
    <span class="prompt-user-name">jsakamoto</span>
    <span class="prompt">$</span>
    <span class="input">
        <input id="command-line-input"
               @ref="CommandLineInput"
               @bind="CommandLineInputText"
               @bind:event="oninput"
               @onkeydown="OnKeyDownCommandLineInput"
               readonly="@(!_Initialized)"
               autocomplete="off" type="url" />
    </span>
</div>

@code {
}
