@inject IConsoleHost ConsoleHost
@inject ICommandSet CommandSet
@inject CommandCompletion CommandCompletion
@inject HotKeys HotKeys
@inject IJSRuntime JS

<div class="main">
    <div class="console-output">
        <ConsoleComponent></ConsoleComponent>
    </div>

    <div class="@CssClass("command-line-input", new { CommandProcessing })">
        <span class="prompt-user-name">jsakamoto</span>
        <span class="prompt-separator">:</span>
        <span class="prompt-current-dir">@this.PathUtility.GetCurrentDirectoryDisplayText()</span>
        <span class="prompt">$</span>
        <span class="input">
            <input id="command-line-input"
                   @ref="CommandLineInput"
                   @bind="CommandLineInputText"
                   @bind:event="oninput"
                   @onkeydown="OnKeyDownCommandLineInput"
                   readonly="@(!_Initialized)"
                   autocomplete="off" type="url" spellcheck="false" />
        </span>
    </div>
</div>

<footer>
    <a href="@GetTwitterShareButtonUrl()" target="_blank" class="twitter-share-button">
        Tweet
    </a>
</footer>

<PWAUpdater Align="PWAUpdater.Aligns.Bottom" />
