.command-line-input {
    display: flex;

    .prompt-user-name {
        color: #16c60c;
    }

    .input {
        flex-grow: 1;
        padding: 0 0.5rem;
        margin-top: -1px;
        margin-left: -1px;


        input {
            margin: 0;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
        }
    }
}
