@inject IConsoleHost ConsoleHost
<div class="console-output">
    <ConsoleComponent></ConsoleComponent>
</div>

<div class="command-line-input">
    <span class="prompt-user-name">jsakamoto</span>
    <span class="prompt">$</span>
    <span class="input">
        <input @ref="CommandLineInput" @bind="CommandLineInputText" @onkeyup="OnKeyUpCommandLineInput" @onblur="OnBlurCommandLineInput" autocomplete="off" type="url" />
    </span>
</div>

@code {
}
