.console-component {
    .console-line {
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;

        &:before {
            content: '';
            display: inline-block;
        }

        .console-fragment {
            white-space: pre-wrap;

            &.no-wrap {
                white-space: pre;
            }

            a {
                color: inherit;
            }
        }
    }
}
