.console-component {
    .console-line {
        word-break: break-all;

        .console-fragment {
            display: inline-block;
            white-space: pre-wrap;

            a {
                color: inherit;
            }
        }
    }
}
