@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body {
    //border: solid 1px red;
    position: relative;
    margin: 0;
    padding: 0; // 0.5rem;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body, input {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    color: #ccc;
}

@import 'site-loading.scss';
@import '../App.razor.scss';
@import '../Components/ConsoleComponent.razor.scss';
