@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

body {
    // border: solid 1px red;
    margin: 0;
    padding: 0.5rem;
    background-color: #000;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    color: #ccc;
}

.loading {
    font-size: 0;
    white-space: nowrap;

    div {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        margin: 0;
        //border: solid 1px blue;
    }

    .text {
        margin-left: 0.5em;
    }

    .kurukuru {
        overflow: hidden;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;

        &.f1 {
            animation-name: kurukuru_f1;
        }

        &.f2 {
            animation-name: kurukuru_f2;
        }

        &.f3 {
            animation-name: kurukuru_f3;
        }

        &.f4 {
            animation-name: kurukuru_f4;
        }
    }
}

@keyframes kurukuru_f1 {
    0%,24.9% {
        width: auto;
    }

    25%, 100% {
        width: 0;
    }
}

@keyframes kurukuru_f2 {
    0%, 24.9% {
        width: 0;
    }

    25%, 49.9% {
        width: auto;
    }

    50%, 100% {
        width: 0;
    }
}

@keyframes kurukuru_f3 {
    0%, 49.9% {
        width: 0;
    }

    50%, 74.9% {
        width: auto;
    }

    75%, 100% {
        width: 0;
    }
}

@keyframes kurukuru_f4 {
    0%, 74.9% {
        width: 0;
    }

    75%, 100% {
        width: auto;
    }
}
